/*--------- TYPOS ---------*/

@font-face {
    font-family: "Caladea Regular";
    src: url("asset/font/Caladea/Caladea-Regular.ttf");
  }
  
  @font-face {
    font-family: "Caladea Bold";
    src: url("asset/font/Caladea/Caladea-Bold.ttf");
  }

  @font-face {
    font-family: "Caladea Bold Italic";
    src: url("asset/font/Caladea/Caladea-BoldItalic.ttf");
  }

  @font-face {
    font-family: "Caladea Italic";
    src: url("asset/font/Caladea/Caladea-Italic.ttf");
  }
  
  @font-face {
    font-family: "Wagon Bold";
    src: url("asset/font/Wagon/Wagon-Bold.otf");
  }

  @font-face {
    font-family: "Wagon ExtraLight";
    src: url("asset/font/Wagon/Wagon-ExtraLight.otf");
  }

  @font-face {
    font-family: "Wagon ExtraLightItalic";
    src: url("asset/font/Wagon/Wagon-ExtraLightItalic.otf");
  }



/*--------- TITRAGES ---------*/

body{
  cursor:default;
}

h1{
    font-family: "Wagon Bold";
    margin:0;
    /* background-color: #161b27; */
    color:#274e12;
    font-size: 6em;
  }

#h1-1{
  margin-top:3vh;
}

h1.sous-titre{
    font-family: "Wagon Bold";
    font-size: 2.5em;
    font-weight: lighter;
}

a.sous-titre{
  color: #161b27;
  background-color: #d8b1ed;
  /* cursor: default; */
}

#stt1{
  margin-top:2.5vh;
}

h2{
    font-family: "Wagon Bold";
    color: #d8b1ed;
    font-size: 2em;
    margin: 5% 0;
    scroll-margin-top: 2.6em;
}

h3{
    font-family: "Wagon ExtraLight";
    font-weight: lighter;
    color: #274e12;
    font-size: 1.85em;
    margin: 5% 0;
    scroll-margin-top: 2.7em;
}

h4{
    font-family: "Wagon ExtraLightItalic";
    font-weight: lighter;
    color: #004b81;
    font-size: 1.7em;
    margin: 5% 0;
    scroll-margin-top: 2.7em;
}

h5{
    font-family: "Caladea Bold";
    color:#161b27;
    font-size: 1.2em;
}

p{
    font-family: "Caladea Regular";
    color: #161b27;
    font-size: 1.1em;
    text-align:justify;
    text-align-last: left;
    margin: 5% 0;
    margin-bottom: 10%;
    line-height: 1.3;   /*interlignage : valeur en unités relatives (ex: 1.5 ou 1.6)*/
    /*letter-spacing: 0.1em;  interlettrage */
    word-spacing: 0.05em;   /*Augmente l'espacement entre les mots*/
    hyphens: auto;   /*Active la césure automatique*/
    hyphenate-character: auto; /*précise quel tiret pour la césure : '~'*/
    hyphenate-limit-chars: 10 4 4;
    /*-ms-hyphens: auto;       Pour les anciens navigateurs IE
    -moz-hyphens: auto;      Pour Firefox
    -webkit-hyphens: auto;   Pour WebKit (Chrome, Safari) */
    /*widows: 2;
    orphans: 2; garantit qu’il y a au moins deux lignes de texte dans un paragraphe qui finit sur une ligne*/
    text-justify: inter-word;
}

.remerciements p{
  text-align: left;
}


/*--------- STYLE LIENS ---------*/

a{
    cursor:pointer;
    overflow-wrap: break-word; /*coupe les liens trop longs */
    word-break: break-word; /*pareil mais plus radical, à utiliser qu'en exception*/
  }

  a:not([href]) { /* a sans liens href renseignés*/
    /* cursor: text; */
    pointer-events: none;
}

I{
  font-family: "Caladea Italic";
}

  .lien{
    color: #faadde;
    background-color: #161b27;
  }

  .lien:hover{
    color: #f5f5f5;
  }
  
  .titre-oeuvre{
    font-family: "Caladea Italic";
    color: #274e12;
    background-color: #e9e4d8;
    text-decoration: none;
    /* scroll-margin-top: 2rem; */
  }
  
  .column2 a.titre-oeuvre {
    cursor:pointer;
  }

  /* .column3 a.titre-oeuvre {
    cursor:text;
  } */

  .artiste{
    color: #ffb47e;
    background-color: #161b27;
    text-decoration: none;
    /* scroll-margin-top: 2rem; */
  }

  .artiste:hover{
    color: #f5f5f5;
  }
  
  .auteur{
    color: #e9e4d8;
    background-color: #274e12;
    text-decoration: none;
    /* scroll-margin-top: 2rem; */
  }
  
  .auteur:hover{
    color: #f5f5f5;
  }

  .bibliographie .titre-ouvrage { /*style spécifique à la section bibliographie*/
    font-family: "Caladea Italic";
    color: #f5f5f5;
    text-decoration: none;
  }

  .notes .titre-ouvrage { /*style spécifique à la section notes*/
    font-family: "Caladea Italic";
    color: #d8b1ed;
    text-decoration: none;
  }

  .titre-article{ /*apparaît seulement en bibliographie*/
    color: #f5f5f5;
  }

  .column2 .appel-notes {
    color:#161b27;
    text-decoration: underline #d8b1ed;
    /* background-color: #f5f5f5; */
  }

  .column3 .appel-notes {
    color:#f5f5f5;
    text-decoration: underline #d8b1ed;
  }

  .appel-notes:hover{
    color: #f5f5f5;
    background-color: #d8b1ed;
    text-decoration: underline #f5f5f5;
  }

  .fig{
    color:#d8b1ed;
    background-color: #343332;
    text-decoration: none;
  }

  .fig:hover{
    color: #f5f5f5;
  }

  /* :target { cibles des ancres
    scroll-margin-top: 500px; Décale proprement l’ancre 
}*/

/*--------- GENERAL ---------*/

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.page-titre{
    /* display: flex;
    flex-direction: column; */
    /* position: absolute; */
    /* text-align:justify;
    align-items: center;
    justify-content: center; */
    height: 100vh;
    width: 100vw;
    background-color: #e9e4d8;
    z-index: 50;
    margin:0;
    padding:0;
}

.grid-container{
  display:grid;
  height:100vh;
  width:100vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80% 20%;
  /* justify-content: center;
  align-items: center; */
  margin:0;
  padding:0;
  /* grid-template: 
            "bloc1 bloc2"
            "bloc3" */
}

.bloc1{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  z-index:2;
  margin:0;
  padding: 15vh 0 0 10vw;
  display: block;
}

.bloc2{
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  z-index:1;
  margin:0;
  /* background-color: #004b81; */
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), 85%, #e9e4d8), url("asset/images/assortiment_textures.png");
  background-size: cover;
  /* background: linear-gradient(blue, pink); */
}

.bloc3{
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  margin:0;
}

/* .img-fond-titre{
  object-fit: cover;
} */

#cliquer{
  /* position:absolute;
  bottom:10%; */
  font-family:"Caladea Regular";
  font-size:1.2em;
  color:#161b27;
  justify-self: center;
  /* margin:0; */
  animation-duration: 2s;
   animation-name: clignoter;
   animation-iteration-count: infinite;
   transition: none;
}

.titre-nom{
  margin:0;
  /* margin-top:5vh; */
  color:#ffb47e;
  font-family: "Caladea";
  font-size: 2.5em;
}

.titre-mention{
  margin:0;
  margin-top:5vh;
  font-family: "Caladea";
  font-size: 1.8em;
}

.tutorat{
  margin:0;
  margin-top:5vh;
  font-family: "Caladea";
  font-size: 1.2em;
}

p.titre-lien{
  margin:0;
  margin-top:2vh;
  font-family: "Caladea";
  font-size: 1.2em;
}

a.titre-lien{
  color:#faadde;
  background-color: #161b27;
}


@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}

.column-layout {
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden; /* Empêche les colonnes de déborder horizontalement et verticalement */
    /* gap: 1rem; */
    /* padding: 2rem; */
    position: relative;
}

.column {
    flex-grow: 1;
    /*width: 33.33%;  Largeur initiale */
    min-width: 200px;
    min-height:  100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    /* padding: 1.5rem; */
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    scroll-behavior: smooth;
}

.resizer {
    width: 1px;
    background-color: #a4a4a4;
    /* cursor: ew-resize; */
    /* cursor: grab; */
    /* cursor: col-resize; */
    /* cursor: url('asset/images/custom-cursor.png') 32 32, auto; */
    position: relative;
    z-index: 1; /* S'assurer qu'ils sont au-dessus des colonnes */
    height: 100%; /* S'étend sur toute la hauteur de la colonne */
}

/* .resizer::before {
  content: "";
  position: absolute;
  left: -10px;  Agrandit la zone à gauche 
  right: -10px;  Agrandit la zone à droite
  z-index: 0; Place le pseudo-élément derrière le contenu
} */

/* .custom-cursor {
  
}

.custom-cursor:hover {
  transform: scale(1.1);
} */

/* Gestion du scroll des colonnes pour Chrome, Edge, Safari*/

.column::-webkit-scrollbar-track {
    background:#f5f5f5;
    border-radius: 4px;
    border-radius: 0;
}

.column2::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

.column2::-webkit-scrollbar-thumb {
    background:#004b81;
    border-radius: 4px;
    border-radius: 0;
}

.column2::-webkit-scrollbar-thumb:hover {
    background:#ffb47e;
}

.column2.scroll-active::-webkit-scrollbar-thumb {
  background: #ffb47e;
}

.column3::-webkit-scrollbar {
  width: 11px;
  height: 8px;
}

.column3::-webkit-scrollbar-thumb {
  background:#274e12;
  border-radius: 4px;
  border-radius: 0;
}

.column3::-webkit-scrollbar-thumb:hover {
  background:#d8b1ed;
}

.column3.scroll-active::-webkit-scrollbar-thumb {
  background: #d8b1ed;
}

/* Pour Firefox */

@-moz-document url-prefix() {
  .column2 {
    scrollbar-width:thin; 
     scrollbar-color: #004b81 #f5f5f5;
  }
  
  .column2.scroll-active {
    scrollbar-color: #ffb47e #f5f5f5;
  }

  .column3 {
    scrollbar-width:thin; 
     scrollbar-color: #274e12 #f5f5f5;
  }
  
  .column3.scroll-active {
    scrollbar-color: #d8b1ed #f5f5f5;
  }
  
  }

/*--------- COLONNE GAUCHE ---------*/

.column1 {
    background-color: #161b27;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement le contenu */
    justify-content: flex-start; /* Aligne le contenu en haut */
    width:31%; /*31.77%*/
    height: 100vh;
    position: relative; /* Nécessaire pour positionner le contenu avec `absolute` */
}

#schema-icono { /*anciennement #Calque_1*/
    position: absolute; /* positionnement indépendamment */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) perspective(500px) rotateX(-3deg) /*élargit très légèrement le haut*/ translateY(2%) /*rééquilibre le décalage crée par la perspective pour centrer verticalement*/;
    height: 95vh;
    width: auto;
    max-width: 100%; /* Empêche de dépasser la largeur de la colonne */
    max-height: calc(100% - 5% - 2em); /* Assure qu'il reste dans la colonne */
}

.cercles {
    fill: #e9e4d8;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2.66px;
    /* box-shadow: 8px 8px 5px 10px #faadde; */
}

.cercles:hover {
    fill:#faadde;
    stroke:#f5f5f5;
    stroke-miterlimit: 10;
    stroke-width: 2.66px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 8px 8px 5px 10px #faadde;
}

/* .cercles:active {
    fill:#faadde;
    stroke:#f5f5f5;
} */

.glow-hover {
  transition: filter 0.3s ease;
}

/* Effet au survol */
.glow-hover:hover {
  filter: url(#glow-effect);
}

/* Effet d'activation par le scroll */
.glow-circle {
  transition: filter 0.3s ease-in-out;
  pointer-events: all;
}

/* Priorité au scroll */
.glow-circle.observed {
  filter: url(#glow-effect);
  stroke: #faadde;
  fill:#f5f5f5;
}

/* Effet au clic (priorité la plus haute) */
.glow-circle.active {
  filter: url(#glow-effect);
  stroke:#faadde;
  fill: #faadde ; /* !importantAssure que l'effet reste actif après le clic */
}

/* S'assurer que le hover fonctionne même si observed est actif */
.glow-circle.observed:hover,
.glow-circle.active:hover {
  filter: url(#glow-effect);
  stroke: #f5f5f5 ; /*!important*/
  fill:#faadde;
}


.ancre-icono{
  /* border: solid 1px #ffb47e; */
   scroll-margin-top:15vh; 
}

.ancre-icono.highlight-appear {
  transition: background-color 0.5s ease-in, color 0.5s ease-in, box-shadow 0.5s ease-in;
  background-color: #e9e4d8;
  color: #274e12;
  box-shadow: 1px 1px 3px 5px #e9e4d8;
}

.ancre-icono.highlight-disappear {
  transition: background-color 1s ease-out, color 1s ease-out, box-shadow 1s ease-out;
  background-color: transparent;
  color: inherit;
  box-shadow: inherit;
}


/*--------- COLONNE CENTRALE ---------*/
    
.column2 {
  background-color: #f5f5f5;
  width: 37%; /*36.4% Largeur définie dynamiquement */
  position: relative; /* Nécessaire pour que .zone-menu se réfère à elle */
  /*display: flex;
  flex-direction: column;  S'assure que les enfants s'empilent verticalement */
}

/* MENU DU SOMMAIRE */


.zone-menu {
  position: sticky;
  top: 0;
  background-color: #f5f5f5 /*#e9e4d8*/;
  box-shadow: 0px 2px 8px #e9e4d8;
  padding: 4% 5%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: 10;
  min-height:5.25vh;
  margin:0;
}

.box-menu {
  /* background-color:   #e9e4d8; */
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%; /* Empêche l'élargissement */
  margin-left: 5%;
  cursor: pointer;
  overflow: visible; /* Permet au dropdown d'apparaître sans modifier la taille du conteneur */
}

.box-menu p{
margin:0;
}

#titre-sommaire{
  font-family: "Wagon Bold";
    /* font-weight: lighter; */
    color: #274e12 /*#faadde*/;
    font-size: 1.2em;
}

#titre-sommaire:hover{
  cursor:pointer;
}

#titre-actif-menu {
  background-color: #e9e4d8 /*#f5f5f5*/;
  /* box-shadow: inset 0px 5px 10px #faadde, 0px 2px 5px #faadde; */
  font-family: "Caladea Regular" /*"Wagon ExtraLightItalic"*/;
  /* font-weight: lighter; */
  color: #343332 /*#274e12*/;
  font-size: 1em;
  white-space: nowrap; /* Texte sur une seule ligne */
  overflow: hidden; /* Cache le texte qui dépasse */
  text-overflow: ellipsis; /* Affiche "..." si le texte dépasse */
  display: inline-block;
  vertical-align: middle;
  width: 100%; /* Assure que le titre prend toute la largeur possible */
  max-width: 100%; /* Évite que le titre dépasse de la boîte */
  box-sizing: border-box;
  position: absolute; /* Permet au titre de ne pas influencer la taille du conteneur */
  padding: 0 1%;
  border-bottom: solid 3px #f5f5f5;
}

/* Menus déroulants */


.dropdown-menu {
  display: none;
  position: absolute;
  /* width: 132%; */
  box-sizing: border-box;
  top: 100%; /* Peut être ajusté pour mieux aligner le dropdown */
  /* left: 0; */
  right: 0;
  margin-top: 0.6em;
  /* background-color: #e9e4d8; */
  background-image: url("asset/images/assortiment_textures9.png");
  background-attachment: local;  /* Permet au fond de défiler avec le contenu */
  padding: 5px 10px;
  z-index: 10; /* Augmenter z-index pour garantir que le menu est au-dessus d'autres éléments */
  overflow-y: scroll;
  max-height: 92vh;
  box-shadow: 0px 5px 8px #e9e4d8 /*#004b81*/;
}

/* Affichage des menus au survol */
.box-menu:hover .dropdown-menu {
  display: block;
   /*top: 90%; Si besoin, ajuster légèrement */
}

.zone-menu:hover .dropdown-menu {
  display: block;
}

.liste-sommaire{
  padding: 0 5%;
  text-align: left;
  flex-direction: column;
}

.liste-sommaire a {
  display: block;
  text-decoration: none;
  font-size: 1em;
  margin: 3% 3%;
}

.a-h2{
  font-family: "Wagon Bold";
  color: #343332;
  /* color: #004b81; */
}

.a-h2:hover{
  font-family: "Wagon Bold";
  /* color: #d8b1ed; */
  /* color: #343332; */
  color:#ffb47e;
  /* font-size: 1.5em; */
} 

.a-h3{
  /* padding-left: 5%; */
  font-family: "Caladea Regular";
  /* color: #343332; */
  color: #004b81;
}

.a-h3:hover{
  /* font-family: "Wagon ExtraLight";
  font-weight: lighter; */
  /* color: #274e12; */
  color:#ffb47e;
  /* font-size: 1.5em; */

} 

.a-h4{
  /* padding-left: 5%; */
  font-family: "Caladea Regular";
  /* color: #343332; */
  color: #004b81;
}

.a-h4:hover{
  /* font-family: "Wagon ExtraLightItalic";
  font-weight: lighter; */
  /* color: #004b81; */
  color:#ffb47e;
  /* font-size: 1.5em; */
}

.a-droite{
  text-align: right;
  color: #004b81;
}

.divider{
  border-top: 2px solid #f5f5f5;
  /* border-top: 1.5px solid #e9e4d8; */
}


/* STYLE DE LA JAUGE DE TEXTE */

.bloc-jauge-fontsize {
  position: sticky;
  display: inline-flex; /* Permet de gérer l'alignement interne */
  top: 0vh;
  background-color: #f5f5f5;
  left: 2%;
  z-index: 9;
  margin: 0; /* Supprime tout décalage dû au margin */
  padding: 0;
  align-items: stretch; /* S'assure que T et jauge-fontsize prennent la même hauteur */
  /*align-items: center;  Centre verticalement l'enfant */
  justify-content: center; /* Centre aussi horizontalement si nécessaire */
  box-shadow: 0px 5px 8px #e9e4d8;
}


#T {
  box-sizing: border-box;
  padding: 1vw;
  font-family: 'Caladea';
  color: #274e12;
  font-size: 1em;
}

#lien-T:hover {
  color:#d8b1ed;
}

#T.highlight-appear-T {
  transition: background-color 0.5s ease-in, color 0.5s ease-in, box-shadow 0.5s ease-in;
  background-color: #e9e4d8;
  color: #d8b1ed;
  box-shadow: 0px 10px 20px #d8b1ed;
}

#T.highlight-disappear-T {
  transition: background-color 1s ease-out, color 1s ease-out, box-shadow 1s ease-out;
  background-color: transparent;
  color: inherit;
  box-shadow: inherit;
}

.bloc-jauge-fontsize:hover #T{
  display:none;
  cursor: pointer;
}

.bloc-jauge-fontsize:hover .jauge-fontsize {
  /* display: block; */
  display: inline-flex;
  cursor: pointer;
}

label {
  font-size: 0.9em;
  font-family: 'Caladea';
  color: #274e12;
}

label:hover{
  cursor: pointer;
}

input {
  margin: 0.4rem;
}

.jauge-fontsize {
  box-sizing: border-box;
  padding: 1vw;
  height: 100%;
  /* margin-top:-0.25vh; */
  box-sizing: border-box;
  display:none;
  align-items: center; /* Centre verticalement l'enfant */
  justify-content: center; /* Centre aussi horizontalement si nécessaire */
  /* position:sticky; */
  /* top:5.25vh; */
  background-color: #f5f5f5;
  /* left:10%; */
  /* z-index:9;   */
  /* font-family: "Wagon Bold"; */
  /* color: #274e12; */
  /* font-size: 0.9em; */
}

/* Style de la jauge */
#jauge {
  -webkit-appearance: none; /* Supprime le style natif */
  -moz-appearance: none;
  appearance: none;
  width: 12vw;
  height: 0.5vh;
  margin-left:2vw;
  background: #e9e4d8;
  /* border-radius: 10px; */
  /* outline: 0.1rem solid #e9e4d8; */
  transition: background 0.3s;
  cursor: pointer;
}

/* Changer la couleur au survol */
#jauge:hover {
  background: #e9e4d8;
}

/* Personnalisation du curseur (thumb) sur Webkit (Chrome, Safari, Edge) */
#jauge::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.5vw; /* Taille du curseur */
  height: 1vh;
  background: #274e12; /* Couleur du curseur */
  /* border-radius: 50%; */
  cursor: pointer;
  /* transition: transform 0.2s; */
}

/* Effet au survol du curseur */
#jauge::-webkit-slider-thumb:hover {
  transform: scale(1.5);
  background: #faadde;
  cursor:grab;
}

/* input[type="range"] {
  cursor: grab;
}

input[type="range"]:focus {
  cursor: grabbing;
} */

/* Personnalisation du curseur sur Firefox */
#jauge::-moz-range-thumb {
  -moz-appearance: none;
  width: 0.5vw;  /* Taille du curseur */
  height: 1vh;
  background: #274e12;  /* Couleur du curseur */
  border-radius: 0%; /* Angles droits */
  border:none;
  cursor: pointer;
  transition: transform 0.2s;
}

/* Effet au survol du curseur (Mozilla Firefox) */
#jauge::-moz-range-thumb:hover {
  transform: scale(1.5);
  background: #faadde;
  cursor: grab;
}



/* Gestion des barres de scroll du menu déroulant */

/* Webkit - Chrome, Safari */

.dropdown-menu::-webkit-scrollbar-track {
  background:#f5f5f5;
  border-radius: 4px;
  border-radius: 0;
}

.dropdown-menu::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background:#ffb47e;
  border-radius: 4px;
  border-radius: 0;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background:#faadde;
}

.dropdown-menu.scroll-active::-webkit-scrollbar-thumb {
  background: #faadde;
}

/* Firefox */
@-moz-document url-prefix() {
.dropdown-menu {
  scrollbar-width:thin; 
   scrollbar-color: #ffb47e #f5f5f5;
}

.dropdown-menu.scroll-active {
  scrollbar-color: #faadde #f5f5f5;
}

}


/*tous*/

.box-menu:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;
} /*assure que le menu reste affiché tant que l'on intéragit avec*/


/* DEFILEMENT DU TEXTE */

.zone-texte{
    padding: 7% 10% 5% 10%;
    margin:0;
    margin-top: -5vh;
    /* scroll-margin-top: 0.2rem; */
    /* scroll-snap-type: none; */

}

#intro-auteur,
#intro-artiste,
#intro-oeuvre,
#intro-notes,
#intro-liens,
#intro-credits{
  color: #161b27;
}

#intro-liens:hover{
  color: #faadde;
  background-color: #161b27;
}

#intro-oeuvre:hover{
  font-family: "Caladea Italic";
  color: #274e12;
  background-color: #e9e4d8;
  text-decoration: none;
}

#intro-artiste:hover{
  color: #ffb47e;
  background-color: #161b27;
  text-decoration: none;
}

#intro-auteur:hover{
  color: #e9e4d8;
  background-color: #274e12;
  text-decoration: none;
}

#intro-notes:hover{
  color:#161b27;
  text-decoration: underline #d8b1ed;
}

.appel-notes:hover{
  color: #f5f5f5;
  background-color: #d8b1ed;
  text-decoration: underline #f5f5f5;
}


#intro-credits:hover{
  color:#d8b1ed;
  background-color: #343332;
  text-decoration: none;
}



.img-transitions{
  /* width:calc(100% + 20%);; */
 /*margin:0 10% 10vh 10%; ⬆⮕⬇⬅*/
  margin:15% 0 10% 0;
  height:40vh; /*30vh*/
  object-fit: cover;
  /* justify-self: center; */
  display: block;
  width: calc(100% + 25%); /* 100% + le padding de chaque côté */
  position: relative;
  left: 50%;
  transform: translateX(-50%); /* Centre l'image */
}

#resume{
  margin:0;
}

#introduction{
  margin:0;
}

#renvoi-note-69{
  scroll-margin-top:20vh;
}

#citation-scherer{
  padding: 0 2vw;
  font-size: 0.95em;
}
   


/*--------- COLONNE DROITE ---------*/
    

.column3 {
  /* height: 100vh; */
  /* margin: auto; */
  width:32%; /*31.77%*/
}

/* .titre-ouvrage.bibliographie:hover {
  cursor:text;
} */

/* Animations des styles pour la mise en évidence d'éléments ciblés */

/*État par défaut*/
.notes, .bibliographie, .descriptions-oeuvres {
  background-color: transparent;
  /* color: inherit; */
  transition: none;
}

/* Apparition rapide */
.highlight-appear {
  transition: background-color 0.75s ease-in, color 0.75s ease-in, box-shadow 0.75s ease-in;
}

.highlight-appear.notes {
  background-color: #faadde;
  color: #f5f5f5;
  box-shadow: 1px 1px 3px 5px #faadde;/* offset-x | offset-y | blur-radius | spread-radius | color */
}

.highlight-appear.bibliographie {
  background-color: #004b81;
  color: #e9e4d8;
  box-shadow: 1px 1px 3px 5px #004b81;
}

.highlight-appear.descriptions-oeuvres {
  background-color: #d8b1ed;
  color: #161b27;
  box-shadow: 1px 1px 3px 5px #d8b1ed;
}

.highlight-appear.descriptions-credits {
  background-color: #ffb47e;
  color: #f5f5f5;
  box-shadow: 1px 1px 3px 5px #ffb47e;
}

/* Disparition lente */
.highlight-disappear {
  /* background-color: transparent;
  color: inherit; */
  transition: background-color 2s ease-out, color 2s ease-out, box-shadow 2s ease-out;
}

.highlight-disappear.notes {
  background-color: transparent;
  color: inherit;
}

.highlight-disappear.bibliographie {
  background-color: transparent;
  color: inherit;
}

.highlight-disappear.descriptions-oeuvres {
  background-color: transparent;
  color: #004b81;
}

.highlight-disappear.descriptions-credits {
  background-color: transparent;
  color: inherit;
}


/* Section Oeuvres */

.section-oeuvres{
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligne verticalement les éléments */
    justify-content: center; /* Centre horizontalement les éléments */
    gap: 1vw; /* Ajoute de l'espace entre les éléments */
    background-color: #e9e4d8;
    padding: 8% 10% 10% 10%;
  }
  
  #titre-oeuvres{
    color:#faadde;
    align-self: flex-start;
    margin:0;
  }

  .section-oeuvres img{
  width: 85%;
  height: auto;
  margin-top:1.5vw;
  display: block;
  }

  .single-image {
    width: 85%;
    height: auto;
    margin-top: 1.5vw;
    display: block;
}

/* Conteneur global qui contient tout, y compris les boutons */
.carousel-wrapper {
  position: relative;
  width: 85%; /* Largeur du carrousel */
  max-width: 600px; /* Limite la taille */
  margin: 0 auto;
}

/* Conteneur du carrousel proprement dit */
.carousel {
  position: relative;
  overflow: hidden; /* Masque l'excédent des images */
}

/* Track du carrousel, avec transition pour le défilement */
.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin: 0 -1px;
}

.carousel-track img {
  width: 100%; /* Chaque image occupe toute la largeur */
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
}

/* Style des boutons de navigation */
button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #d8b1ed;
  color: #f5f5f5;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 10; /* Les flèches seront au-dessus du carrousel */
  font-size: 1.5em;
  /* border-radius: 5px; */
  font-family: 'Caladea';
}

button:hover{
  background-color: #faadde;
  color: #f5f5f5;
}

button:active{
  background-color: #ffb47e;
}

/* Position des flèches à l'extérieur du carrousel */
.prev {
  left: -3vw;  /* Décale la flèche gauche à l'extérieur */
}

.next {
  right: -3vw;  /* Décale la flèche droite à l'extérieur */
}





  /* .img-container {
    display: flex;
    max-width: 25vw;
    gap: 1vw;
    align-items: center;
    justify-content: center;
  }
  
  .img-container img {
    height: auto;
    max-height: 100%;
    flex: 1;
    object-fit: contain; 
  } */
  
  

  
  
  .descriptions-oeuvres{
    height: auto;
    font-family: "Caladea Regular";
    color: #004b81;
    font-size: 0.95em;
  }


/* Section Notes */

.section-notes{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background-color: #004b81;
    color: #e9e4d8;
    font-family: "Caladea Regular";
    font-size: 0.95em;
    padding: 10%; 
  }
  
  #titre-notes{
    color: #faadde;
  }

  #schema-note-4{
    width:100%;
    margin-bottom: 0.75vh;
  }

  /* .notes{
    scroll-margin-top: 2rem;
  } */

/* Section Bibliographie */

.section-bibliographie{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background-color: #ffb47e;
    color: #004b81;
    font-family: "Caladea Regular";
    font-size: 0.95em;
    padding: 10%; 
    width:100%;
    box-sizing: border-box;
  }

  #titre-bibliographie{
    color:#274e12;
  }

  .sous-titres-biblio{
    margin:0;
    color: #274e12;
  }

  /* .bibliographie{
    scroll-margin-top: 2rem;
  } */

  .highlight-bibliographie{
    color:white;
    background-color: #004b81;
  }


  /* Section Credits */

  .section-credits{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background-color:#343332;
    color: #e9e4d8;
    font-family: "Caladea Regular";
    font-size: 0.95em;
    padding: 10%; 
    width:100%;
    box-sizing: border-box;
  }

  #titre-credits{
    color: #ffb47e;
  }

  .sous-titres-credits{
    color: #ffb47e;
    margin-bottom:0;
  }

  .section-credits p{
    /* display: flex;
    flex-direction: column; */
    text-align:left;
    gap: 1vw;
    background-color:#343332;
    color: #e9e4d8;
    font-family: "Caladea Regular";
    font-size: 0.95em;
    /* padding: 10%;  */
    width:100%;
    box-sizing: border-box;
    margin: 0;
  }


/*--------- AVERTISSEMENT POUR PETITE TAILLE D'ECRAN ---------*/

#avertissement {
  display: none;
}

  @media screen and (max-width: 1024px) {
    
    * {
      box-sizing: border-box; /* Empêche les marges ou bordures d'élargir un élément */
    }
    
    /* Désactive complètement le scroll */
    html, body {
      margin: 0;
      padding: 0;
      overflow: hidden; /* Empêche le défilement horizontal et vertical */
      width: 100%; /* Empêche les dépassements horizontaux */
      height: 100%; /* Empêche les dépassements verticaux */
    }
  
    body {
      position: relative; /* S'assure que le positionnement fixe fonctionne correctement */
    }

    /* Bloc couvrant tout l'écran */
    #avertissement {
      display: flex; /* Pour centrer le contenu */
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw; /* Largeur totale de l'écran */
      height: 100vh; /* Hauteur totale de l'écran */
      background-color: #e9e4d8;
      z-index: 50;
      overflow: hidden;
      padding: 0;
      /*max-width: 100vw;  Empêche tout dépassement horizontal */
    }

    .bloc-titre-avertissement{
      top:4vh;
      position:absolute;
      left: 8vw;
      margin:0;
      justify-content: space-between;
    }
  
    .titre-avertissement{
      /* display:block; */
      /* left:1.5em; */
      font-family: "Wagon Bold";
      font-size: 1.5em;
      color: #d8b1ed;
      /* background-color: #161b27; */
      /* margin: 0 3em; */
      margin: 0;
    }

    /*.t1{
       position: absolute;
      top:5%; 
    }*/

    .t2{
      margin-top: -0.25vh;
    }

    .sous-titre-avertissement{
      /* position:absolute; */
      /* top:10vh; */
      font-family: "Caladea Regular";
      font-size: 1em;
      color: #e9e4d8;
      background-color: #274e12;
      margin:0;
      margin-top: 0.5vh;
      display: inline-block; /* Adapte la largeur à celle du texte */
      white-space: nowrap;
      /* left:1.5em; */
      /* left: 8.5vw; */
      /* margin-top: 5vw; */
      /* padding: 2.3em; */
      text-align: left;
    }

    .st2{
      margin:0;
      margin-top: 0.5vh;
    }

    .texte-avertissement {
      /* display:flex;
      flex-direction: column; */
       text-align: center;
      /*align-items: center; */
      font-family: "Caladea Regular", serif;
      font-size: 1.1em;
      color: #161b27;
      hyphens:none;
      text-align: center;
      text-align-last:center;
      /* text-align:left; */
      padding: 0;
      margin: 0 3em;
    }

    #footer-avertissement{
      position:absolute;
      font-family: "Caladea Regular";
      color: #161b27;
      bottom: 8vw;
      font-size: 1em;
      align-self: center;
      align-content: center;
      margin: 0 3em;
      text-align: center;
    }

  }
  

